body a, h1, h2, h3, h4, h5, span {
	font-family: Quicksand !important;
}

body {
	background-color: #f0f9fd!important;
}

a, h5 {
	text-decoration: none!important;
}

.course-nav {
	background-color: #ff6609 !important;
	color: #000 !important;
}
.course-nav a {
	color: #000 !important;
	font-size:22px;
}
