.course-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    background-color: #04689a !important;
}
  
.course-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}
  
.course-header-logo:hover {
    text-decoration: none;
}
.course-header a {
	color: #fff !important;
}

