/* stylelint-disable selector-list-comma-newline-after */

body {
  font-family: Quicksand;
}
  
.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
      font-size: 3rem;
  }
}
  
/*.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
  
.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
  
.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}*/
  
.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}
  
.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
  
.h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}
  
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
  
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
/*
 * course name and description
 */
.course-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.course-description {
    font-size: 1.1rem;
    color: #999;
}
  
@media (min-width: 40em) {
  .course-title {
      font-size: 3.5rem;
  }
}
  
/* Pagination */
.course-pagination {
    margin-bottom: 4rem;
}
.course-pagination > .btn {
    border-radius: 2rem;
}  

.card-header {
    background: #2ca9e2;
}

.card-header h5{
    color: #fff;
    font-weight: 400;
}
.course-main {
    margin-top:20px;
}

.course_name {
    background: #9ca9e2;
    color: #fff;
}

.course_name h1{
    padding: 10px 10px;
}